@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

label {
    text-align: top;
    padding: 10px;
}

input[type='checkbox'] {
    padding: 10px 0;
    color: rgb(183, 226, 186);
    border: 10px solid rgb(183, 226, 186);
    width: 20px;
    height: 20px;
}

input[type='submit'] {
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    background-color: rgb(169, 199, 255);
    color: rgb(17, 11, 11);
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 1px 1px 1px #ccc;
}