body {
    font-family: "Inter", sans-serif;
    list-style: none;
}

article {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px;
    float: left;
    border: 2px solid #50bcf2;
    border-radius: 20rem;
    box-sizing: border-box;
}

article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20rem;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
}

article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 20rem;
    opacity: 0;
    cursor: pointer;
}

article input[type=checkbox]:checked~div {
    background-color: #50bcf2;
}

.upgrade-btn {
    display: block;

    width: 200px;
    border-radius: 20rem;
    padding: 10px 20px;
    border: 2px solid #50bcf2;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
}

.upgrade-btn:hover {
    background-color: #50bcf2;
}

.green-color {
    color: #50bcf2;
}

.gray-color {
    color: #555;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin: 0%;
        width: 100%;
    }
}